<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="local.mio.os4camerabridge" platformBuildVersionCode="36" platformBuildVersionName="16">
    <queries><package android:name="com.android.camera" /></queries>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application android:allowBackup="false" android:debuggable="true" android:extractNativeLibs="true" android:hasCode="true" android:label="@string/app_name" android:forceQueryable="true" android:pageSizeCompat="enabled">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposedscope" android:resource="@array/module_scope"/>
        <meta-data android:name="xposeddescription" android:value="@string/xposed_desc"/>
        <meta-data android:name="xposedinit" android:value="local.mio.os4camerabridge.HookEntry"/>
        <meta-data android:name="xposedminversion" android:value="93"/>
        <activity android:name="local.mio.os4camerabridge.LegendarySettingsActivity" android:exported="true" android:label="徕卡处理设置">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <provider android:name="local.mio.os4camerabridge.LegendaryProcessingProvider" android:authorities="local.mio.os4camerabridge.legend" android:exported="true" android:grantUriPermissions="true" />
        <receiver android:name="local.mio.os4camerabridge.LegendaryBootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
